* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    box-sizing: border-box;
}

.container {
    background-color: #f2f4f7;
}

.dashboard {
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
}
.header {
    width: 100%;
    height: 40px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    color: #f2f4f7;
    letter-spacing: 1px;
    background-color: #214332;
    padding-left: 10px;

}

.footer {
    text-align: center;
    padding: 20px;
    color: #666;
    font-size: 14px;
    margin-top: 20px;
}