.table-top {
    display: flex; 
    justify-content: space-between; 
    align-items: center;
     margin-bottom: 20px;

}

.tables-section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
    margin: 10px;
}

.table-box {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    border: 1px solid #ddd;
}

.table-box h2 {
    font-size: 18px;
    color: #214332;
    margin-bottom: 15px;
    padding-bottom: 10px;
    border-bottom: 1px solid #eee;
}
table {
    width: 100%;
    border-collapse: collapse;
}


th {
    background-color: #f8f9fa;
    text-align: left;
    padding: 10px;
    font-weight: bold;
    border-bottom: 1px solid #ddd;
}

td {
    padding: 10px;
    border-bottom: 1px solid #eee;
}